{
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "arrowParens": "avoid"
}
